<!-- NAVIGATION DU SITE-->
<nav class="container-fluid">
    <ul>
        <li><strong>Discovering Pico</strong></li>
    </ul>
    <ul>
        <li><a href="index">Home</a></li>
        <li><a href="About">About</a></li>
        <li>
            <details role="list" dir="ltr">
                <summary aria-haspopup="listbox" role="link">Categories</summary>
                <ul role="listbox">
                    <li><a href="Photos">Photos</a></li>
                    <li><a href="Articles">Articles</a></li>
                    <li><a href="Projects">Projects</a></li>
                </ul>
            </details>
        </li>

    </ul>
</nav>